
.{
    background-color: red;
    border:1px solid black;
    height: 200px;
    display: flex;
    justify-content: space-between;
    max-width: 1000%;
    position: absolute;
    margin: auto;
    right: 5%;
    z-index: 1;
}